.final-form{
    width: 100%;
    background-color: #EAEAF5;
    height: 100vh;
}
.safeform-img{
    width: 100%;
    background-attachment:fixed;
    opacity: 0.2;
    height: 70vh;
    border-radius: 50%;
}
.top-img{
    right: 0px;
    background: rgba(255,0,54,0.9);
    width: 100%;
    height: 70vh;
    border-radius: 50%;
    position: fixed;
    top: -210px;
    transform: rotate(50deg);
    z-index:3;
}
.safe-logo{
    padding-top:1.5rem;
}
.formlogo-name{
    color:white;
    font-size:2rem;
    position:sticky;
    font-family: "Lobster",cursive;
	z-index:4;
	padding-bottom:1rem;
}
.safeform-box{
    position: sticky;
    z-index: 7;
}
.safe-box{
    width: 300px;
    height:410px;
    background-color:white;
    border-radius:20px;     
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.cform-head{
    font-family: 'Fira Sans Condensed', sans-serif;
    text-transform: capitalize;
    color: #ff0036;
	font-size:1.8rem;
}
.safe-box form{
	text-align: left;
    box-sizing: border-box;
}
form .text-field{
	position: relative;
	border-bottom:2px solid  #a8a7a7;
	margin:30px 0; 
}
.text-field input{
	width:100%;
	padding: 0 15px;
	height: 40px;
	font-size: 16px;
	color: black;
	border:none;
	background: none;
	outline: none;
}
.text-field label{
	position: absolute;
	top: 50%;
	left:5px;
	color:#a8a7a7;
	transform: translateY(-50%);
	font-size:14px;
	pointer-events: none;
	transition: .5s;
	letter-spacing:0.7px;
}
.text-field span::before{
	content: '';
	position: absolute;
	top: 40px;
	left: 0px;
	width:0%;
	height: 2px;
	background:#ff0036;
	transition: .7s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
	top:-5px;
	color:#ff0036;
}

.text-field input:focus ~ span:before,
.text-field input:valid ~ span:before 
{
	width: 100%;
}
.btnotp {
	width: 200px;
	padding-top: 12px;
	padding-bottom:12px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	margin-top:20px;
	cursor: pointer;
    display: inline-block;
    border-radius:30px;
  }

  .button-o {
	color: #fff;
	border: 3px solid #ff0036;
	background: linear-gradient(30deg, #ff0036 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0%;
	transition: background 350ms ease-in-out;
  }
  .button-o:hover {
	background-position: 100%;
	color: #ff0036;
  }
  .finalform-img{
    width: 50%;
    position: fixed;
    bottom: -36px;
    right: -29px;
}

@media only screen and (min-width :768px)
{
.safe-box .cform-head{
	text-align: center;
	font-size: 2.2rem;
}

.safe-box{
    width: 350px;
    height:450px;
}
.safe-box form{
	text-align: center;
}
.safe-box form{
	padding: 0 20px;
	box-sizing: border-box;
}
.cform-one{
	padding-left:0px;
	padding-right:0px;
}
.btnotp{
	padding-top: 15px;
	padding-bottom:15px;
	font-size: 18px;
}
.text-field label{
	font-size: 18px;
}
.finalform-img{
    width:20%;
    position: fixed;
    bottom: -36px;
    right: -29px;
}
.safeform-img{
    height:100vh;
}
.top-img{
    height: 100vh;
    top: -565px;
	transform: rotate(10deg);
	right: 50px;
}
/* .safe-logo{
    padding-top:rem;
} */
.formlogo-name{
	font-size:2.5rem;
}
}